---
title: 'CV | Anna Brinkerhoff'
description: 'TODO'
permalink: 'cv/'
eleventyNavigation:
    key: CV
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/cv.css">
    <script defer src="/assets/js/faq.js"></script>
    {# <link rel="preload" as="image" href="{% getUrl '/assets/images/cabinets2.jpg' | resize({ width: 720, height: 774 }) | avif %}"/> #}
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->
<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">CV</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/books.png" | resize({ width: 2000, height: 700 }) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/books.png" | resize({ width: 2000, height: 700 }) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/books.png" | resize({ width: 2000, height: 700 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/books.png" | resize({ width: 1200, height: 700 }) | avif %}" type="image/avif">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/books.png" | resize({ width: 1200, height: 700 }) | webp %}" type="image/webp">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/books.png" | resize({ width: 1200, height: 700 }) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl "/assets/images/books.png" | resize({ width: 1200, height: 700 }) | jpeg %}" alt="Books on a shelf" width="1200" height="700" loading="eager" decoding="async" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-326">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Curriculum Vitae</span>
            <h2 class="cs-title">CV</h2>
        </div>
        <div class="cs-flex-group">
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Current Teaching
                        </span>
                    </button>
                    <p class="cs-item-p">
                        <a href="http://www.annabrinkerhoff.com/uploads/4/5/3/7/45377961/phil_251_syllabus_spring.pdf" class="cs-link">
                            <img src="/assets/svgs/document.svg" alt="Document Icon" width="24" height="24" loading="eager" decoding="async" aria-hidden="true">
                            <span><strong>Winter 2025, </strong>The philosophy of happiness and wellbeing, Concordia University TODO: Update this for Fall and links</span>
                        </a>
                        <a href="http://www.annabrinkerhoff.com/uploads/4/5/3/7/45377961/phil_251_syllabus_spring.pdf" class="cs-link">
                            <img src="/assets/svgs/document.svg" alt="Document Icon" width="24" height="24" loading="eager" decoding="async" aria-hidden="true">
                            <span><strong>Winter 2025, </strong>Biomedical Ethics, Concordia University TODO: Update this for Fall and links</span>
                        </a>
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Past Teaching
                        </span>
                    </button>
                    <p class="cs-item-p">
                        [Abstract to be added]
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Course Materials
                        </span>
                    </button>
                    <p class="cs-item-p">
                        [Abstract to be added]
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
    {# {% include 'components/cta.html' %} #}

{% endblock %}