---
title: 'Teaching | Anna Brinkerhoff'
description: 'TODO'
permalink: 'teaching/'
eleventyNavigation:
    key: Teaching
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/teaching.css">
    <script defer src="/assets/js/faq.js"></script>
    {# <link rel="preload" as="image" href="{% getUrl '/assets/images/cabinets2.jpg' | resize({ width: 720, height: 774 }) | avif %}"/> #}
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->
<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Teaching</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/books.jpg" | resize({ width: 1200, height: 700 }) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/books.jpg" | resize({ width: 1200, height: 700 }) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/books.jpg" | resize({ width: 1200, height: 700 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/books.jpg" | resize({ width: 2000, height: 722 }) | avif %}" type="image/avif">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/books.jpg" | resize({ width: 2000, height: 722, position: "top" }) | webp %}" type="image/webp">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/books.jpg" | resize({ width: 2000, height: 722, position: "top" }) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl "/assets/images/books.jpg" | resize({ width: 2000, height: 722, position: "top" }) | jpeg %}" alt="Books on a shelf" width="1200" height="700" loading="eager" decoding="async" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-326">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Current & Past</span>
            <h2 class="cs-title">Teaching</h2>
        </div>
        <div class="cs-flex-group">
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Current Teaching
                        </span>
                    </button>
                    <p class="cs-item-p">
                        <a href="/assets/docs/syllabi/happiness_and_wellbeing.pdf" target="_blank" class="cs-link">
                            <img src="/assets/svgs/document.svg" alt="Document Icon" width="24" height="24" loading="eager" decoding="async" aria-hidden="true">
                            <span><strong>Winter 2025, </strong>The Philosophy of Happiness & Wellbeing, Concordia University TODO</span>
                        </a>
                        <a href="/assets/docs/syllabi/biomedical_ethics.pdf" target="_blank" class="cs-link">
                            <img src="/assets/svgs/document.svg" alt="Document Icon" width="24" height="24" loading="eager" decoding="async" aria-hidden="true">
                            <span><strong>Winter 2025, </strong>Biomedical Ethics, Concordia University TODO</span>
                        </a>
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Past Teaching
                        </span>
                    </button>
                    <p class="cs-item-p">
                        <a href="/teaching" target="_blank" class="cs-link">
                            <img src="/assets/svgs/document.svg" alt="Document Icon" width="24" height="24" loading="eager" decoding="async" aria-hidden="true">
                            <span><strong>Winter 2024, </strong>Ethics of Belief, Concordia University TODO: Add PDF</span>
                        </a>
                        <a href="/" target="_blank" class="cs-link">
                            <img src="/assets/svgs/document.svg" alt="Document Icon" width="24" height="24" loading="eager" decoding="async" aria-hidden="true">
                            <span><strong>Winter 2023, </strong>Values and Biotechnology, Concordia University TODO: Add PDF</span>
                        </a>
                        <a href="/" target="_blank" class="cs-link">
                            <img src="/assets/svgs/document.svg" alt="Document Icon" width="24" height="24" loading="eager" decoding="async" aria-hidden="true">
                            <span><strong>Fall 2022, </strong>Feminist Philosophy, Concordia University TODO: Add PDF</span>
                        </a>
                        <a href="/" target="_blank" class="cs-link">
                            <img src="/assets/svgs/document.svg" alt="Document Icon" width="24" height="24" loading="eager" decoding="async" aria-hidden="true">
                            <span><strong>Fall 2022, </strong>Environmental Ethics, Concordia University TODO: Add PDF</span>
                        </a>
                        <span class="cs-link">
                            <span><strong>Fall 2021 & Spring 2022, </strong>Happiness and the Good Life, George Mason University</span>
                        </span>
                        <span class="cs-link">
                            <span><strong>Winter 2021 & Spring 2021, </strong>Introduction to Philosophy of Religion, Seattle Pacific University</span>
                        </span>
                        <span class="cs-link">
                            <span><strong>Summers 2018, 2019, 2021, </strong>Contemporary Moral Issues, Summer@Brown</span>
                        </span>
                        <span class="cs-link">
                            <span><strong>Fall 2018, </strong>Philosophy of Death, Brown University</span>
                        </span>
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Course Materials
                        </span>
                    </button>
                    <p class="cs-item-p">
                        <a href="/assets/docs/rubrics/philosophy_paper_rubric.pdf" target="_blank" class="cs-link">
                            <img src="/assets/svgs/document.svg" alt="Document Icon" width="24" height="24" loading="eager" decoding="async" aria-hidden="true">
                            <span>Philosophy Paper Rubric</span>
                        </a>
                        <a href="/assets/docs/rubrics/real_life_reflection.pdf" target="_blank" class="cs-link">
                            <img src="/assets/svgs/document.svg" alt="Document Icon" width="24" height="24" loading="eager" decoding="async" aria-hidden="true">
                            <span>Real-World Reflection Rubric</span>
                        </a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
    {# {% include 'components/cta.html' %} #}

{% endblock %}