/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-718 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #contact-718 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.25rem;
  }
  #contact-718 .cs-picture {
    width: 100%;
    max-width: 40.625rem;
    height: auto;
    /* reset at desktop */
    aspect-ratio: 1.0051635112;
    position: relative;
  }
  #contact-718 .cs-picture img {
    width: 100%;
    height: 100%;
    /* makes it act like a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #contact-718 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #contact-718 .cs-text {
    margin: 0 0 2rem 0;
  }
  #contact-718 .cs-right {
    width: 100%;
    /* 36px - 72px top & bottom */
    /* 44px - 60px left & right */
    padding: clamp(2.25rem, 5.8vw, 4.5rem) clamp(2.75rem, 5.8vw, 3.75rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: #f1f1f4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #contact-718 .cs-header {
    /* 13px - 16px */
    font-size: clamp(0.8125rem, 1.5vw, 1.15rem);
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
    color: var(--primary);
    display: block;
  }
  #contact-718 .cs-link {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.9vw, 1.25rem);
    line-height: 1.5em;
    font-weight: 500;
    text-decoration: none;
    /* 24px - 32px */
    margin: 0 0 clamp(1.5rem, 3vw, 2rem) 0;
    color: var(--headerColor);
    display: block;
  }
  #contact-718 .cs-link:hover {
    text-decoration: underline;
  }
  #contact-718 .cs-phone {
    /* 56px - 96px */
    margin-bottom: clamp(3.5rem, 7vw, 6rem);
  }
  #contact-718 .cs-social {
    margin: 0 0 0 1.5rem;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 24px - 30px */
    gap: 6rem;
    list-style-type: none;
  }
  #contact-718 .cs-li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #contact-718 .cs-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 42px - 50px */
    width: clamp(2.625rem, 8vw, 3.125rem);
    height: clamp(2.625rem, 8vw, 3.125rem);
  }
  #contact-718 .cs-icon {
    width: auto;
    /* 18px - 24px */
    height: clamp(1.125rem, 1vw, 1.5rem);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-718 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #contact-718 .cs-picture {
    height: 51.875rem;
    aspect-ratio: initial;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
}

/*# sourceMappingURL=contact.css.map */
