---
title: 'Anna Brinkerhoff | Home'
description: 'TODO'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css"/>
<link rel="stylesheet" href="/assets/css/critical.css"
media="print" onload="this.media='all'; this.onload=null;">
<noscript>
    <link rel="stylesheet" href="/assets/css/local.css">
</noscript>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.province %},
                        "addressRegion": "{{ client.address.province }}"
                    {% endif %}
                    {% if client.address.postalCode %},
                        "postalCode": "{{ client.address.postalCode }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->
    <section id="hero-856">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">ethics & epistemology</span>
                <h1 class="cs-title">Anna Brinkerhoff</h1>
                <p class="cs-text">
                    Assistant Professor of Philosophy at Concordia in Montreal, QC
                </p>
                <a href="/cv" class="cs-button-solid">View CV</a>
            </div>
            <!--Hero Image-->
            <picture class="cs-picture">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/headshot.png" | resize({ width: 1044, height: 1044 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/headshot.png" | resize({ width: 1044, height: 1044 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/headshot.png" | resize({ width: 1044, height: 1044 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
                <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/headshot.png" | resize({ width: 1044, height: 1044 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/headshot.png" | resize({ width: 1044, height: 1044 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/headshot.png" | resize({ width: 1044, height: 1044 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/headshot.png" | resize({ width: 1044, height: 1044 }) | jpeg %}" alt="Headshot of Anna Brinkerhoff" width="1044" height="1044" loading="eager" decoding="async" aria-hidden="true">
            </picture>
        </div>
        <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
        <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
        </svg>
    </section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1009">
    <div class="cs-container">
        <div class="cs-image-group">
            {# TODO: Add new picture #}
            <picture class="cs-picture">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hello.jpg" | resize({ width: 1088, height: 474 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hello.jpg" | resize({ width: 1088, height: 474 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hello.jpg" | resize({ width: 1088, height: 474 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hello.jpg" | resize({ width: 1036, height: 874 }) | avif %}" type="image/avif">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hello.jpg" | resize({ width: 1036, height: 874 }) | webp %}" type="image/webp">
               <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hello.jpg" | resize({ width: 1036, height: 874 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/hello.jpg" | resize({ width: 1036, height: 874 }) | jpeg %}" alt="" width="1036" height="874" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
        </div>
        <div class="cs-content">
            <h2 class="cs-title">Hi! I'm Anna</h2>
            <p class="cs-text">
                My research lies primarily at the intersection of ethics and epistemology. Very broadly, I think about the epistemic dimension of morally significant social issues. I've recently worked on moral encroachment, the epistemology of prejudice, epistemic partiality in friendship and patriotism, the cognitive side of various moral virtues, promising against the evidence, and the epistemic significance of social identity. I also have interests in feminist philosophy and philosophy of religion.
            </p>
            <p class="cs-text">
                This winter, I am teaching a course on the philosophy of happiness and wellbeing and a course on biomedical ethics.
            </p>
            <a href="/research" class="cs-button-solid">My Research</a>
        </div>
    </div>
</section>
                  
    {# {% include 'components/cta.html' %} #}
{% endblock %}