/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RTsbs-1009,
    #RTsbsr-1009,
    #RTsbst-1009 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(800 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            /* changes to 522px at desktop */
            max-width: calc(578 / 16 * 1rem);
            margin-top: calc(-16 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-spacer {
            width: 100%;
            /* 16px - 24px */
            height: clamp(1rem, 3vw, 1.5rem);
            display: block;
        }

        .cs-button-solid {
            padding: 0 calc(32 / 16 * 1rem);
        }

        .cs-image-group {
            width: 100%;
        }

        .cs-picture {
            width: 100%;
            height: calc(261 / 16 * 1rem);
            display: block;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it behave like a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RTsbs-1009,
    #RTsbsr-1009,
    #RTsbst-1009 {
        .cs-container {
            align-items: flex-start;
        }
        .cs-flex-group {
            flex-direction: row;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RTsbs-1009,
    #RTsbsr-1009,
    #RTsbst-1009 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            /* 100px - 200px */
            gap: clamp(6.25rem, 13vw, 12.5rem);
        }

        .cs-image-group {
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            justify-content: flex-end;
            position: relative;
        }

        .cs-picture {
            height: calc(460 / 16 * 1rem);
            aspect-ratio: initial;
        }

        .cs-content {
            flex: none;
            width: 54%;
            max-width: calc(542 / 16 * 1rem);
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RTsbsr-1009 {
        .cs-container {
            justify-content: flex-end;
        }
        .cs-image-group {
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}

                                